@using DTO.Entity

@model List<SingerDTO>


<head>


	<meta name="viewport" content="width=device-width" />
	<link type="text/css" rel="stylesheet" href="~/css/Test.css" />

	<style>



		
	</style>
</head>

<body>
	<div>

		<h1 style="text-align:center">
			Singers
		</h1>


	</div>


	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-sm-4">
					<div class="our-team">
						<div class="picture">
							<img class="img-fluid" src="@item.PhotoSinger">
						</div>
						<div class="team-content">
							<h3 class="name">@item.FirstName @item.LastName</h3>
							<h4 class="title"> @Html.ActionLink("More Info ","GetSinger","Singer",new{@id = item.SingerId},new { @class = "menu-element" }) </h4>
						</div>
					</div>
				</div>
			}
		</div>
	</div>



</body>

