@model TagViewModel


<head>
	<style>

	</style>
</head>

<body>
	 <h1 style="text-align:center">Add Tag</h1>
    <hr />
	<div style="width:100%;text-align:center">
	
	<form action="/Tag/AddTag" method="post">
		<div>
			<p>
				<div>
					Enter TaName:
				</div>

					@Html.TextBoxFor(x => x.TagName)
					@Html.ValidationMessageFor(x=>x.TagName)
			</p>

		</div>
			@Html.HiddenFor(x=>x.Id)
		<div>
			<input type="submit" value="Add" />
		</div>
	</form>
</div>

</body>
