@model TagViewModel


<head>
	<style>

	</style>
</head>

<body>


</body>
<div style="width:100%;margin-top:75px;margin-left:170px;">
	<h4>
		Добавить тег
	</h4>
	<form action="/Tag/AddTag" method="post">
		<div>
			<p>
				<div>
					Enter TaName:
				</div>

				@Html.TextBoxFor(x => x.TagName)
				@Html.ValidationMessageFor(x=>x.TagName)
			</p>
						
		</div>
		@Html.HiddenFor(x=>x.Id)
		<div>
			<input type="submit" value="Добавить" />
		</div>
	</form>
</div>