@using DTO.Entity
@model List<TagDTO>


<head>
	<style>
		
	</style>
</head>

<body>
	<h1 style="text-align:center">
		Tags
	</h1>

	<table class="table">

		@foreach (var item in Model)
		{
			<tr>
				<td >
					@Html.ActionLink(@item.TagName,"GetTag","Tag",new{@id = item.TagId},new { @style="text-decoration:none;font-weight: 400; color: black;" })
					<div style="text-align:right">
						@if (this.User.IsInRole("Administrator"))
						{
							@Html.ActionLink("Remove Tag","RemoveTag","Tag",new{@id = item.TagId},new { @style="text-decoration:none;font-weight: 400; color: black;" })
						}
						
					</div>
					
				</td>
			</tr>
		}
	</table>

</body>


