@using DTO.Entity
@model TagDTO

<head>
    <style>
        .size {
            white-space: nowrap; 
            overflow: hidden; 
    </style>
</head>

<body>
    <div>
        @if (Model.AudioFilesDTO.Count != null)
        {
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.AudioFilesDTO)
                    {
                        <div class="col-sm" style="text-align:center">
                            <div class="our-team">
                                <div class="team-content">


                                    <figure class="size">
                                        <figcaption>@item.SongName</figcaption>
                                        <audio controls
                                       src="/@item.FilePath">
                                            <a href="/@item.FilePath">
                                                Download audio
                                            </a>
                                        </audio>
                                    </figure>


                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @if (Model.AudioFilesDTO == null || Model.AudioFilesDTO.Count == 0)
        {
            <h1 style="text-align:center">
                Sorry, there are no songs with this tag 
            </h1>
        }

    </div>
</body>