@using DTO.Entity
@model List<TagDTO>


<head>
	<style>
		
	</style>
</head>

<body>
	<h1 style="text-align:center">
		Теги
	</h1>

	<table class="table">

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.ActionLink(@item.TagName,"GetTag","Tag",new{@id = item.TagId}) @Html.ActionLink("Remove Tag","RemoveTag","Tag",new{@id = item.TagId})
				</td>
			</tr>
		}
	</table>
</body>


